{% extends "base.html" %} {% block title %}Manage Bookings{% endblock %}   
{% block main_container%}
<br />
<h3 align="center">Your Bookings</h3>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Reference</th>
        <th scope="col">Restaurant</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Guests</th>
        <th scope="col">Comments</th>
      </tr>
    </thead>
    <tbody>
      {% if user_bookings %}
        {% for booking in user_bookings %}
        <tr>
          <th scope="row">{{ booking.id }}</th>
         {% if booking.restaurantId == 1 %}
            <td>Restaurant 1</td>
          {% elif booking.restaurantId == 2 %}
           <td>Restaurant 2</td>
          {% elif booking.restaurantId == 3 %}
            <td>Restaurant 3</td>
         {% endif %}
          <td>{{booking.bookingDate}}</td>
          <td>{{booking.bookingTime}}</td>
          <td>{{booking.numberOfGuests}}</td>
          <td>{{booking.dietaryRequirements}}</td>
        </tr>
        {% endfor %}
      {% else %}
        </tbody>
        </table>
        <p>You do not have any reservations</p>
      {% endif %}
    </tbody>
  </table>
  <form method="POST">
    <h2>Choose a Booking to Cancel:</h2>
    <select 
      class="form-control form-control-lg"
      id="cancel_booking"
      name="cancel_booking"
      placeholder="Choose Booking">
      {% for booking in user_bookings %}
        <option>{{booking.id}}</option>
      {% endfor %}
    </select>
    <br />
    <button type="submit" class="btn btn-danger btn-lg">Cancel Booking</button>
  </form>
{% endblock%}